/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 body{
    background-color: #6091C3;
  }
    
 .arrow {
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }
  
  ul img {
    width: 130px;
    height: 130px;
    display: block;
  }
  
  ul li {
    display: inline-block; 
  }
  /* Custom */
  button.arrow {
    position: absolute;
    height: 100px;
    width: 30px;
    top: 22px;
    float:left;
  }
  button.arrow.prev {
    left: 10px;
  }
  button.arrow.next {
    right: 10px;
  }
  div.carousel {
    position: relative;
    height: 150px;
    width: 500px;
    border: 1px solid #ccc;
    margin: 50px auto;
  }
  div.galery {
    position: absolute;
    width: 390px;
    top: 11px;
    left: 50px;
    overflow: hidden; 
  }
  div.galery > ul {
    width: 9999px; 
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    transition: transform 0.35s ease-in-out;
  }